.controll {
  display: inline;
  width: 90vw;
  margin-top: 3px;
  margin-bottom: 30px;
}
.control textarea {
  width: 90vw;
  height: 25vh;
  padding: 10px;
  border-radius: 7px;
  font-size: 1.25em;
}
.control p {
  text-align: center;
  color: red;
  animation: p 1.5s 1s linear infinite;
}
@keyframes p {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 100%;
  }
}

/* Оптимизация для смартфонов */
@media (max-width: 768px) {
  .controll {
      width: 95vw; /* Увеличиваем ширину, чтобы заполнить экран */
      margin-bottom: 20px;
  }
  .control textarea {
      width: 95vw; /* Подгоняем ширину под экран */
      height: 20vh; /* Делаем текстовую область немного ниже */
      font-size: 1em; /* Уменьшаем шрифт для удобства */
      padding: 8px; /* Уменьшаем внутренние отступы */
  }
  .control p {
      font-size: 1em; /* Уменьшаем размер текста предупреждения */
  }
}
